.Rproj.user
.Rhistory
.RData
.Ruserdata

adult_analysis/data/raw_data/*
adult_analysis/study_1/data/00_raw_data/*
adult_analysis/study_1/data/prolific.csv
adult_analysis/study_2/data/00_raw_data/*
adult_analysis/study_1/prepping_followup/*.csv

adult_analysis/study_1_followup/data/00_raw_data/*


adult_analysis/study_2/data/prolific.csv
preschooler-analysis/data/00_raw_data/*
preschooler-analysis/data/bing_info.csv


adult_analysis/forced_exp/data/00_raw_data/*

babies/baby-experiment-3/stimuli/evolution_assets/
babies/baby-experiment-3/stimuli/evolution_assets_single/

preschooler-analysis/01_preprocessing.rmd

babies/baby-experiment-4/stimuli/
babies/stim/