.Rproj.user
.Rhistory
.RData
.Ruserdata

adult_analysis/data/raw_data/*
adult_analysis/study_1/data/00_raw_data/*
adult_analysis/study_1/data/prolific.csv
preschooler-analysis/data/00_raw_data/*

babies/baby-experiment-3/adaptive-sampling/venv
