.Rproj.user
.Rhistory
.RData
.Ruserdata

adult_analysis/data/raw_data/*
adult_analysis/study_1/data/00_raw_data/*
adult_analysis/study_1/data/prolific.csv
preschooler-analysis/data/00_raw_data/*

adult_analysis/forced_exp/data/00_raw_data/*
